<div style="width:750px; float: left;">
	<div style="width:200px; margin: auto;">
		<div style="background-color:black; padding: 1px">
			<div style="background-color:#eeeeee;">
				<div style="width: 198px;">
					<div align="center" style="padding: 5px;">
						__content_title__
					</div>
				</div>
			</div>
		</div>
	</div>
	<form name="__form_name__" action="" method="post">
		<input type="hidden" name="upgrade" value="__hidden_form_value__">
		__content_body__
	</form>
</div>
<div style="clear: both; font-size:0px; line-height:0px; height:0px;"></div>