<div style="width:230px; float:left; margin: 20px 15px 0 0; ">
	<div style="background-color:black; padding: 1px">
		<div align="center" style="background-color:#eeeeee;">
			<div style="width: 228px;">
				<div style="padding: 5px;">
					__title__
				</div>
			</div>
			<hr/>
			<div style="width: 228px;">
				<div style="padding: 5px;">
					<img src="__image__" alt="__image_alt__">
				</div>
			</div>
			<hr/>
			<div style="width: 228px;">
				<div style="padding: 5px;">
					__description__
				</div>
			</div>
			<hr/>
			<div style="width: 228px;">
				<div style="padding: 5px;">
					__upgradeButton__
				</div>
			</div>
		</div>
	</div>
</div>