<div style="width:200px; float: left;">
	<div style="width: 190px; padding:5px;">
		__NaviBarPlanetNameContent__
	</div>
	<div style="width: 190px; padding:5px;__NaviBarBuildings__">
		__NaviBarBuildingsContent__
	</div>
	<div style="width: 190px; padding:5px;__NaviBarResearch__">
		__NaviBarResearchContent__
	</div>
	<div style="width: 190px; padding:5px;__NaviBarShipyard__">
		__NaviBarShipyardContent__
	</div>
	<div style="width: 190px; padding:5px;__NaviBarTradeCenter__">
		__NaviBarTradeCenterContent__
	</div>
	<div style="width: 190px; padding:5px;__NaviBarRanking__">
		__NaviBarRankingContent__
	</div>
	<div style="width: 190px; padding:5px;__NaviBarSystem__">
		__NaviBarSystemContent__
	</div>
	<div style="width: 190px; padding:5px;__NaviBarUniverse__">
		__NaviBarUniverseContent__
	</div>
	<div style="width: 190px; padding:5px;">
		__NaviBarUebersichtContent__ 
	</div>
</div>