<div style="width:800px;  margin: auto;" >
	<div style="text-align:center; width: 80px; float: left;border:1px solid red;">
		__coords__
	</div>
	<div style="text-align:center; width: 180px; float: left;border:1px solid red;">
		<div id="PlanetName__divName__" style="text-align:center; width: 180px; display:block; cursor: pointer;">
			__name__
		</div>
		<div id="PlanetNameChange__divName__" style="text-align:center; width: 180px; display:none">
			<form name="login" action="" method="post">
				<input type="text" name="newName" type="text" size="20" maxlength="20" value="__inputName__">
				<input type="submit" value="&auml;ndern">
				<input type="hidden" id="hiddenFormID" name="hiddenPlanetID" value="__divName__">
				<input type="hidden" id="hiddenFormID" name="hiddenFormID" value="2">
			</form>
		</div>
	</div>
	<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
		__coal__
	</div>
	<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
		__ore__
	</div>
	<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
		__nobleMetal__
	</div>
	<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
		__oil__
	</div>
	<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
		__water__
	</div>
	<div style="text-align:center; width: 80px; float: left;border:1px solid red;">
		__buildings__
	</div>
	<div style="text-align:center; width: 80px; float: left;border:1px solid red;">
		__shipyard__
	</div>
	<div style="clear: both; font-size:0px; line-height:0px; height:0px;"></div>
</div>
