<div style="width:950px; border:1px solid red; margin: 5px;" >
	<div style="width:200px;  margin: auto;" >
		<div style="text-align:center; margin:5px">Flotten bewegungen</div>
		<div style="text-align:center; margin:5px 5px 20px 5px">noch zu machen</div>
	</div>
	<div style="width:200px;  margin: auto;" >
		<div style="text-align:center; margin:5px">Planeten</div>
	</div>
	<div style="width:800px;  margin: auto;" >
		<div style="text-align:center; width: 80px; float: left;border:1px solid red;">
			Koordinaten
		</div>
		<div style="text-align:center; width: 180px; float: left;border:1px solid red;">
			Name
		</div>
		<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
			Kohle
		</div>
		<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
			Erze
		</div>
		<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
			Edelmetalle
		</div>
		<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
			&Ouml;l
		</div>
		<div style="text-align:center; width: 70px; float: left;border:1px solid red;">
			Wasser
		</div>
		<div style="text-align:center; width: 80px; float: left;border:1px solid red;">
			Bauauftrag
		</div>
		<div style="text-align:center; width: 80px; float: left;border:1px solid red;">
			Schiffswerft
		</div>
		<div style="clear: both; font-size:0px; line-height:0px; height:0px;"></div>
	</div>
	__planets__
</div>