<div style="width:950px; border:1px solid red; margin: 5px;" >
	<div style="width: 150px; float: left;">
		__coal__ 
	</div>
	<div style="width: 150px; float: left;">
		__ore__
	</div>
	<div style="width: 150px; float: left;">
		__nobleMetall__
	</div>
	<div style="width: 150px; float: left;">
		__oil__
	</div>
	<div style="width: 150px; float: left;">
		__water__
	</div>
	<div style="width: 100px; float: right;">
		<a href="?logout=1">logout</a>
	</div>
	<div style="clear: both; font-size:0px; line-height:0px; height:0px;"></div>
</div>