
<!-- 	<p style="width:200px; border:10px solid red; padding:10px; font-size:3em; overflow:hidden;">Hier gehts zum Spiel</p>  -->
<p style="width:200px; margin:auto;">Hier gehts zum Spiel</p>
<div class="centerLogIn" >	
	<form name="login" action="" method="post">
		<div style="width: 250px; float: left;">
			Name: 
		</div>
		<div style="width: 250px; float: left;">
			<input type="text" id="login[name]" name="login[name]">
		</div>
		<div style="clear: both; font-size:0px; line-height:0px; height:0px;"></div>
		<div style="width: 250px; float: left;">
			Password:
		</div>
		<div style="width: 250px; float: left;">
			<input type="password" id="login[password]" name="login[password]">
		</div>
		<div style="clear: both; font-size:0px; line-height:0px; height:0px;"></div>
		<div style="width: 250px; float: left;">
			&nbsp;
		</div>
		<div style="width: 250px; float: left;">
			<input type="submit"  value="einloggen">
			<input type="hidden" id="hiddenFormID" name="hiddenFormID" value="1">
		</div>
		<div style="clear: both; font-size:0px; line-height:0px; height:0px;"></div>
	</form>
</div>

<p style="width:200px; margin:auto; color: red;">__LogInError__</p>